<div class="row">
  <% @lessons.each do |lesson| %>
      <div class="col-md-4">
        <h3><%= link_to lesson.hash_tag, lesson_path(lesson.id) %></h3>
        <% lesson.tweets.each do |tweet| %>
        <p><%= tweet.text %></p>
        <% end %>
      </div>
  <% end %>
</div>

