<%= form_for @tweet do |form| %>

    <p>
      <%= form.label :text %>
      <br>
      <%= form.text_field :text, size: 80, autofocus: true, maxlength: 125 %>
    </p>

    <p><%= form.submit %></p>

<% end %>
