<%= form_for @tweet do |form| %>

    <p>
      <%= form.label :text %>
      <br>
      <%= form.text_field :text, size: 80, autofocus: true %>
    </p>

    <p><%= form.submit :class => "btn btn-primary"%></p>

<% end %>
