<h2>Why did you build Tweechable?</h2>
<p>We're working on a Twitter service called @tweechable that can be loaded with educational content on specific issues
  important to affinity groups that get a common set of ignorant questions on Twitter.  Instead of having to explain
  respectability politics in reaction to angry protests, for example, to every person who asks you every time, you can
  simply ask @tweechable to drop some knowledge (a short syllabus of tweets and links) into the conversation about the
  subject.  @tweechable will then come in and take over the conversation for you.
</p>

<h2>Here's an example exchange with a topic we've seen a lot here in Chicago:</h2>
<div class="jumbotron">
  <p>@IgnorantTweeter: Hey @OverworkedActivist, why are you so focused on police brutality in Chicago?
    Why aren’t you talking about black-on-black crime?
  </p>
  <p>@OverworkedActivist: Hey @tweechable, explain #blackonblackviolencenarrative to @IgnorantTweeter.</p>
  <p>@tweechable: Hi @IgnorantTweeter, @OverworkedActivist asked me to get in touch with you about black-on-black violence.</p>
  <p>@tweechable: Sure, >90% blacks homicides are other blacks, but it's the same for every race in the US.  82% of white
    homicides are other whites, this is the result of segregation.  <a href="http://bit.ly/BoBViol1">source</a></p>
  <p>@tweechable: also consider that many people -- black, white, others, are devoting their lives to interrupting violence
    in cities.  We honor their efforts, but our focus is police violence. <a href="http://bit.ly/BoBViol2">source</a></p>
  <p>@tweechable: finally, consider the structural issues that lead to a neighborhood having high incidence of violent crime:
    economic oppty, school & mental health <a href="http://bit.ly/BoBViol3">Not working Bit.ly !!</a></p>
  <p>@tweechable: if you have other questions on the issue, i'm happy to help further, or you can explore the syllabus
    here: <a href="http://bit.ly/BoBViolSyl">Not Working Bit.ly!!</a></p>
</div>

<p>Any user affiliated with our project could generate a syllabus for any content area through a web interface we're
  building - no technical knowledge is required.  We've heard feedback and want to extend this to multiple affinity
  groups: women who experience harassment and ignorance; Muslims who experience xenophobia and ignorance; etc.</p>

<h2>The hope is that there will be impact in three areas:</h2>
<p>Self-care of activists - rather than stress over the time spent responding to haters OR the frustration at having
  them continue to spew ignorance, they can rest easier and focus on more important things (“save your energy
  so you can fight the system”)</p>
<p>Targets of our Tweet bursts - the direct targets of the Tweet bursts would be educated</p>
<p>Onlookers to the discussion - anyone following the thread will have more targeted resources and education about the issue</p>
