<div class="row">
  <div class="col-md-8">
    <h1>Educating ignorant tweeters since 2016...</h1>

    <h2>Tweechable has been called to rescue <%= Mention.count %> times on twitter</h2>

    <h2>Tweechable</h2>
    <p>is a Twitter service that can help people deal with naive or ignorant people on twitter, whether
      they're being racist, sexist, or any other -ist. It helps take care of those
      <a href="https://twitter.com/search?q=%23tweechable&src=typd">#TweechableMoments</a> so people can carry on.
    </p>

    <h2>How it works:</h2>
    <p>**This is a test version</p>
    <p>when an uninformed person bothers you with a common question, you simply tweet
      <a href="https://twitter.com/TweechableTest">@TweechableTest</a> about the
      topic you'd like <a href="https://twitter.com/TweechableTest">@TweechableTest</a> to educate that person on.
      <a href="https://twitter.com/TweechableTest">@TweechableTest</a> delivers a curated burst of tweets to inform the individual.
    </p>
  </div>
  <div class="col-md-4">
    <%= render 'shared/twitterfeed' %>
  </div>
</div>

