<div class="row">
  <div class="col-md-8">
    <h1>Educating ignorant tweeters since 2016...</h1>

    <h2>Tweechable has been called to rescue <%= Mention.count %> times on twitter</h2>

    <h3>Tweechable</h3>
    <p>is a Twitter service that can help people deal with naive or ignorant people on twitter, whether
      they're being racist, sexist, or any other -ist. It helps take care of those
      <a href="https://twitter.com/search?q=%23tweechable&src=typd">#TweechableMoments</a> so people can carry on.
    </p>

    <h3>How it works</h3>
    <h4>**This is a test version</h4>
    <p>when an uninformed person bothers you with a common question, you simply tweet
      <a href="https://twitter.com/Tweechable">@Tweechable</a> about the
      topic you'd like <a href="https://twitter.com/Tweechable">@Tweechable</a> to educate that person on.
      <a href="https://twitter.com/Tweechable">@Tweechable</a> delivers a curated burst of tweets to inform the individual.
    </p>

    <h3>Learn more and contribute</h3>
    <p>Find the current code on <a href="https://github.com/lw334/tweechable_final">GitHub</a>. Feel free to submit a pull request!</p>
  </div>
  <div class="col-md-4">
    <%= render 'shared/twitterfeed' %>
  </div>
</div>

