<h1><a href="https://chihacknight.org/breakouts.html">#TweechableMoments</a></h1>

<p> (((o(*ﾟ▽ﾟ*)o)))</p>
<p><strong>Originator and facilitator at Chihacknight</strong>: Kevin Pujanauski</p>
<br>
<p> (ﾉ^ヮ^)ﾉ*:・ﾟ✧ 	</p>
<p><strong>Content editor/tech consultant and a bit of everything really</strong>: Eileen McFarland</p>
<br>
<p>⁽(◍˃̵͈̑ᴗ˂̵͈̑)⁽</p>
<p><strong>Editor </strong>: Emily Drevets</p>
<br>
<p> ヽ(´∇｀)ﾉ</p>
<p><strong>Web Devloper</strong>:<a href="https://twitter.com/ChengLingwei">Lingwei Cheng</a></p>

<br>
<p>*Test deployment. DM/Message <a href="https://twitter.com/ChengLingwei">Lingwei</a> on Twitter for any potential problems (/ﾟДﾟ)/(╯°□°）╯︵ ┻━┻</p>