<h2>Add a New Lesson</h2>

<% if @user != nil and current_user %>
  <% if current_user and current_user.id == @user.id %>
    <%= render 'form' %>
  <% end %>
<% else %>
  <p>You need to be a member of Tweechable to contribute lessons.</p>
  <p>Join today and start contributing and collaborating!</p>
<% end %>