.sign-up-container {
  text-align: center;
}

div.form-group input {
  padding: 6px 10px;
  height: 50px;
  width: 400px;
}

div.sign-up-container h1 {
  margin-bottom: 30px;
}

div.sign-up-container form input[type="submit"] {
  background-color: #5ea2c5;
  color: white;
  border: none;
  width: 400px;

  &:focus {
    outline: none;
  }
  &:hover {
    background-color: #71c9f7;
  }
}
